* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
 background: #1e272e;
}

.heading {
  color: #d2dae2;
  text-align: center;
  margin: 1rem;
}

.app-container {
 width: 100%;
 max-width: 1100px;
 margin: 1rem auto;
}

.display {
 background-color: #d2dae2;
 color: #2C3A47;
 height: 4rem;
 font-size: 1.8rem;
 font-weight: 700;
 display: flex;
 flex-direction: column;
 padding: .5rem;
 border-radius: .2rem;
}

.display-calc {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.display-result {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 font-size: 1rem;
 font-weight: 700;
}

.operators {
 display: grid;
 grid-template-columns: repeat(10, 1fr);
 grid-gap: 1rem;
 background-color: #4b6584;
 padding: .5rem;
 border-radius: .3rem;
}

.operator {
 background-color: #182C61;
 color: #d1d8e0;
 font-size: 1.2rem;
 font-weight: 400;
 padding: .5rem;
 border: none;
 cursor: pointer;
 border-radius: 30%;
 border: 2px solid #d2dae2;
}

.operator:hover {
 background-color: #273c75;
}

.operator:active {
 background-color: #485460;
}

.digit {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2C3A47;
  cursor: pointer;
  background-color: #d2dae2;
  border: none;
  border-radius: 1rem;
  text-align: center;
}

.digit:hover {
  background-color: #808e9b;
}

.digit:active {
  background-color: #485460;
}

.clear {
 background-color: #05c46b;
  color: #d2dae2;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .5rem;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  border: 2px solid #d2dae2;

}

.delete {
 background-color: #ff3f34;
}

.equalTo {
 /* grid-row: 6 / span 2; */
 /* grid-column: 6; */
 background-color: #05c46b;
 font-size: 2.5rem;
 font-weight: 700;
}

.cube {
 /* grid-row: 3; */
}

.sqrt {
 /* grid-row: 4; */
}

.exponent {
 /* grid-row: 5; */
}

.pie {
 /* grid-row: 5; */
}

.log {
 /* grid-row: 3; */
}

.logTen {
 /* grid-row: 4; */
}

.sin {
 /* grid-row: 3; */
}

.tan {
 /* grid-row: 4; */
}

.cos  {
 /* grid-row: 5; */
}

.zero {
 /* grid-row: 6; */
 /* grid-column: 5; */
}

.attribution {
  color: #d2dae2;
  text-align: center;
}
